@media( max-width: 1200px){
    .container{
        max-width: 960px;
    }



}

@media( max-width: 992px){
    .container{
        max-width: 720px;
    }

    
}

@media( max-width: 768px){
    .container{
        max-width: 540px;
    }

    .header{
        &__block{
            max-width: 768px;
            margin-left: 70px;
            
        }

        &__btn{
            // width: 90px;
            // font-size: 12px;
            margin-right: 63px;
        }
        
    }

    .promo{
        max-width: 570px;
        max-height: 400px;
        

        &__title{
            padding: 0;
            margin: 0;
            font-size: 48px;
            width: 428px;
        }

        &__subtitle{
            padding-left: 0;
            margin: 0;
            padding-top: 60px;
        }

        &__descr{
            padding-left: 0;
            margin: 0;
            font-size: 15px;
        }

        &__img{
            width: 300px;
            height: 400px;
            
        }

        
    }

    .preview{

        &__wrapper{
            flex-direction: column;
            
        }

        &__block{
            margin-left: 100px;
        }
    }

    .projects{
        max-width: 768px;

        &__subheader{
            padding-left: 550px;
        }

        &__descr{
            padding-left: 550px;
        }

        
    }

    .process{
        max-width: 568px;
        
        &__block{
            padding-left: 250px;
            flex-direction: column;
            align-items: center;
        }
    }

    .clients{


        &__block{
            flex-direction: column;
            align-items: center;
        }

        &__list{
            padding-left: 370px;
        }
    }

    .featured{


        &__list{
            flex-direction: column;
            align-items: center;
        }

        &__button{
            padding-left: 300px;
        }
    }

}

@media( max-width: 576px){
    .container{
        max-width: 360px;
    }
}
