.process{

    &__subtitle{
        text-align: center;
        font-size: 14px;
        color: #645C55;
        padding-top: 100px;
    }

    &__title{
        text-align: center;
        font-size: 39px;
        margin: 0;
    }

    &__block{
        display: flex;
        justify-content: space-between;
        padding-top: 47px;
        padding-left: 136px;
        padding-right: 136px;
    }

    &__item{
        margin-right: 16px;
    }

    &__img{
        padding-left: 50px;
    }

    &__name{
        text-align: center;
        font-size: 18px;
        color: #403E3B;
    }

    &__descr{
        font-size: 15px;
        line-height: 24px;
        width: 230px;
        text-align: center;
        color: #645C55;
    }
}